  body {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto", "Arial", sans-serif;
    /*regular 400; medium 500; bold 700*/
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    margin: 78px 0 107px 0;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
  }

  h2 {
    margin: 12px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  .container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
  }

  header {
    margin-bottom: 37px;
    background-color: #eeeeee;
    border-bottom: 1px solid #ffffff;
  }

  .logo {
    float: left;
    margin-top: 57px;
    width: 160px;
    height: 65px;
  }

  .logo:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .logo:active {
    opacity: 0.3;
  }

  .cart {
    float: right;
    margin-top: 75px;
    position: relative;
    max-width: 180px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }

  .cart a {
    display: block;
    padding: 8px 0 5px 38px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }

  .cart::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: -3px;
    width: 15px;
    height: 15px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
    opacity: 0.3;
  }

  .cart:hover a {
    color: #fb565a;
    cursor: pointer;
  }

  .cart:active a {
    color: #000000;
    opacity: 0.3;
  }

  .cart a.active-item {
    box-shadow: inset 0 -20px 0 -18px #fb565a;
  }

  .main-menu {
    margin: 0 auto;
    padding: 69px 0 0 20px;
    width: 500px;
  }

  .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .main-menu li {
    display: inline-block;
    vertical-align: top;
    padding: 8px 23px 5px 23px;
  }

  .main-menu a {
    display: block;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }

  .main-menu a:hover {
    color: #fb565a;
    cursor: pointer;
  }

  .main-menu a:active {
    color: #000000;
    opacity: 0.3;
  }

  .main-menu a.active-item {
    color: #000000;
    box-shadow: inset 0 -20px 0 -18px #fb565a;
  }

  .slider {
    position: relative;
    min-height: 431px;
  }

  .slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 18px;
    margin-left: -100px;
    text-align: center;
    font-size: 0;
    z-index: 10;
  }

  .slider-controls label {
    position: relative;
    display: inline-block;
    margin-right: 17px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
  }

  .slider-controls label:last-child {
    margin-right: 0;
  }

  .slider-controls label::before {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
  }

  .ctrl:checked+label::before {
    display: block;
  }

  #ctrl1:checked~.slider1 {
    display: block;
  }

  #ctrl1:checked~.slider-controls label[for=ctrl1]::before {
    display: block;
  }

  #ctrl2:checked~.slider2 {
    display: block;
  }

  #ctrl2:checked~.slider-controls label[for=ctrl2]::before {
    display: block;
  }

  #ctrl3:checked~.slider3 {
    display: block;
  }

  #ctrl3:checked~.slider-controls label[for=ctrl3]::before {
    display: block;
  }

  .slider input {
    display: none;
  }

  .slider-text {
    position: relative;
    z-index: 2;
    width: 540px;
    padding-top: 79px;
  }

  .slider-text b {
    display: block;
    margin-bottom: 26px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
  }

  .slider-text p {
    margin-bottom: 38px;
    font-weight: 400;
    line-height: 24px;
  }

  .slider-text a {
    display: block;
    padding: 13px 0;
    width: 240px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 3px;
  }

  .slider-text a:hover {
    background-color: #e74246;
    cursor: pointer;
  }

  .slider-text a:active {
    background-color: #d7373b;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .slider-text a:active span {
    opacity: 0.3;
  }

  .slider1::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 760px;
    height: 431px;
    background: url("../img/slider1.jpg") no-repeat 50% 50%;
  }

  .slider2::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 760px;
    height: 431px;
    background: url("../img/slider2.jpg") no-repeat 50% 50%;
  }

  .slider3::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 760px;
    height: 431px;
    background: url("../img/slider3.jpg") no-repeat 50% 50%;
  }

  .slider1 {
    display: none;
  }

  .slider2 {
    display: none;
  }

  .slider3 {
    display: none;
  }

  .advantages {
    margin-bottom: 80px;
  }

  .item {
    float: left;
    margin: 42px 100px 0 0;
    width: 300px;
  }

  .advantages .item:last-child {
    margin-right: 0;
  }

  .item img {
    width: 300px;
    height: 146px;
    margin-bottom: 18px;
  }

  .item b {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .item p {
    display: block;
    width: 260px;
    margin-bottom: 32px;
  }

  .item a {
    display: block;
    padding: 16px 0;
    text-align: center;
    width: 160px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
  }

  .websites a {
    background-color: #fb565a;
  }

  .websites a:hover {
    background-color: #e74246;
    cursor: pointer;
  }

  .websites a:active {
    background-color: #d7373b;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .apps a {
    background-color: #00ca74;
  }

  .apps a:hover {
    background-color: #00bc6c;
    cursor: pointer;
  }

  .apps a:active {
    background-color: #00aa62;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .presentations a {
    background-color: #efc84a;
  }

  .presentations a:hover {
    background-color: #eab534;
    cursor: pointer;
  }

  .presentations a:active {
    background-color: #eab534;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .websites a:active span, .apps a:active span, .presentations a:active span {
    opacity: 0.3;
  }

  .studio {
    margin-bottom: 49px;
    border-top: 2px solid #eeeeee;
  }

  .studio-left {
    float: left;
    padding-top: 74px;
    width: 660px;
  }

  .studio-right {
    float: right;
    padding-top: 40px;
    width: 360px;
  }

  .studio-left strong {
    display: block;
    margin-bottom: 33px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
  }

  .studio-left b {
    display: block;
    margin: 39px 0 24px 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  .studio-left li {
    display: block;
    margin: 0 0 24px -4px;
    padding: 0;
    position: relative;
    list-style: none;
    line-height: 24px;
  }

  .studio-left li::before {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: -35px;
    height: 0;
    width: 23px;
    border: 1px solid #fb565a;
  }

  .studio-right img {
    margin-bottom: 29px;
  }

  .studio-right b {
    font-weight: 700;
    padding-left: 18px;
    text-transform: uppercase;
  }

  .studio-right .percent {
    float: left;
    margin: 41px 19px 0px 0;
    width: 100px;
  }

  .percent:last-child {
    margin-right: 0;
  }

  .studio-right strong {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
  }

  .studio-right sup {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }

  .studio-right p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  .projects {
    padding: 45px 0;
    margin-bottom: 80px;
    font-size: 0;
    line-height: 0px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
  }

  .project {
    display: inline-block;
    width: 260px;
    margin: 0 19px;
    text-align: center;
    vertical-align: middle;
    opacity: 0.2;
  }

  .project:hover {
    opacity: 1;
    cursor: pointer;
  }

  .project:active {
    opacity: 0.1;
  }

  .line {
    display: inline-block;
    height: 50px;
    width: 0;
    vertical-align: middle;
    border: 1px solid #eeeeee;
  }

  .project:first-child {
    margin-left: 0;
  }

  .project:last-child {
    margin-right: 0;
  }

  footer {
    margin-top: 60px;
  }

  .map {
    position: relative;
    margin-bottom: 69px;
    height: 416px;
    background: url(../img/map.jpg) no-repeat 50% 50%;
    border-top: 1px solid #ffffff;
  }

  .address {
    position: absolute;
    top: 53px;
    width: 217px;
    padding: 50px 51px 47px 50px;
    background-color: #ffffff;
  }

  .map strong {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  .map p {
    margin: 22px 0 37px 1px;
    line-height: 18px;
  }

  .map a {
    display: block;
    padding: 16px 0;
    text-align: center;
    width: 219px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 3px;
  }

  .social {
    margin-bottom: 70px;
    font-size: 0;
  }

  .icons {
    float: left;
    width: 380px;
    margin-right: 20px;
  }

  .social a {
    position: relative;
    display: inline-block;
    margin-right: 11px;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
  }

  .social a:hover {
    background-color: #e74246;
    cursor: pointer;
  }

  .social a:active {
    background-color: #d7373b;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .social a:active::before {
    opacity: 0.3;
  }

  .social .vk::before {
    position: absolute;
    top: 32px;
    left: 26px;
    content: "";
    display: block;
    width: 26px;
    height: 15px;
    background-position: -100px -5px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
  }

  .social .fb::before {
    position: absolute;
    top: 28px;
    left: 33px;
    content: "";
    display: block;
    width: 12px;
    height: 22px;
    background-position: -35px -73px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
  }

  .social .inst::before {
    position: absolute;
    top: 29px;
    left: 29px;
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background-position: -57px -73px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
  }

  .social-text {
    float: left;
    padding-top: 5px;
    width: 560px;
  }

  .social-text strong {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }

  .social-text p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 22px;
  }

  .shop-filter {
    float: left;
    width: 260px;
    margin-top: 6px;
  }

  .shop-filter>h2:first-child {
    letter-spacing: 0.01em;
  }

  .price-slider {
    position: relative;
    width: 220px;
    height: 2px;
    margin: 48px 0 14px 0;
    padding: 39px 20px;
    background-color: #e9e9e9;
    border-radius: 3px;
  }

  .scale {
    height: 2px;
    background: #d7dcde;
  }

  .price-slider .bar {
    width: 50%;
    height: 2px;
    background: #00ca74;
  }

  .price-slider .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cccdcd;
    cursor: pointer;
  }

  .price-slider .toggle-min {
    left: 20px;
  }

  .price-slider .toggle-max {
    left: 130px;
  }

  .filter-price input {
    margin-left: 8px;
    width: 80px;
    height: 36px;
    border: none;
    background-color: #e9e9e9;
    text-align: center;
    border-radius: 3px;
  }

  .shop-filter .from {
    float: left;
  }

  .shop-filter .to {
    float: right;
  }

  .filter-grid {
    margin-bottom: 42px;
  }

  .filter-price {
    margin-bottom: 54px;
  }

  .checkbox-default {
    display: none;
  }

  .radio-default {
    display: none;
  }

  .shop-filter .radio, .shop-filter .checkbox {
    position: relative;
    display: block;
    margin: 0 0 17px 37px;
    color: #283136;
  }

  label.radio::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -36px;
    width: 25px;
    height: 25px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -36px -38px;
  }

  input.radio-default:checked+label.radio::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -36px;
    width: 25px;
    height: 25px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -71px -38px;
  }

  label.checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -35px;
    width: 27px;
    height: 23px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -30px -5px;
  }

  input.checkbox-default:checked+label.checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -35px;
    width: 27px;
    height: 23px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -63px -5px;
  }

  label.radio::before, label.checkbox::before {
    opacity: 0.4;
  }

  label.radio:hover, label.checkbox:hover {
    color: #000000;
    cursor: pointer;
  }

  label.radio:hover::before, label.checkbox:hover::before {
    opacity: 1;
    cursor: pointer;
  }

  input.radio-default:disabled+label, input.checkbox-default:disabled+label {
    color: #283136;
    opacity: 0.3;
  }

  input.radio-default:disabled+label::before, input.checkbox-default:disabled+label::before {
    opacity: 0.3;
  }

  .shop-filter button {
    margin-top: 30px;
    padding: 16px 0;
    width: 260px;
    line-height: 18px;
    text-align: center;
    border: none;
    font-weight: 500;
    background-color: #eeeeee;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .shop-filter button:hover {
    background-color: #dfdfdf;
    cursor: pointer;
  }

  .shop-filter button:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .shop-filter button:active span {
    opacity: 0.3;
  }

  .shop-products {
    float: right;
    width: 760px;
    font-size: 0;
  }

  .sort {
    margin-bottom: 25px;
  }

  .sort h2 {
    float: left;
    padding-top: 3px;
  }

  .sort-as {
    float: right;
    margin: 23px 0;
  }

  .sort a {
    display: inline-block;
    margin-right: 25px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    opacity: 0.3;
  }

  .sort a:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .sort a.active-item {
    opacity: 1.0;
  }

  .sort .down {
    margin: 0 10px 0 25px;
    width: 9px;
    height: 9px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -106px -30px;
    opacity: 0.2;
  }

  .sort .up {
    margin: 0 0 0 10px;
    width: 9px;
    height: 9px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -125px -30px;
    opacity: 0.2;
  }

  .sort a.down:hover, .sort a.up:hover {
    opacity: 0.4;
    cursor: pointer;
  }

  .sort a.down+.active-item, .sort a.down+.active-item {
    opacity: 1.0;
  }

  .product {
    display: inline-block;
    position: relative;
    width: 360px;
    margin: 0 40px 36px 0;
    background-color: #e9e9e9;
    line-height: 0;
    border-radius: 3px 3px 0 0;
  }

  .product::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 576px;
    box-shadow: 0 0 0 1px rgba(0, 1, 1, 0.1) inset;
  }

  .product .tab {
    content: "";
    position: relative;
    display: block;
    height: 40px;
    border-radius: 3px 3px 0 0;
  }

  .tab::before {
    content: "";
    position: absolute;
    display: block;
    top: 13px;
    left: 16px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 23px 0 0 0 #ffffff, 46px 0 0 0 #ffffff;
  }

  .product:nth-child(2n+1) {
    margin-right: 0;
  }

  .product-price {
    display: none;
    position: absolute;
    bottom: 0;
    width: 360px;
    max-height: 576px;
    padding: 15px 0 43px 0;
    overflow: auto;
    font-size: 16px;
    line-height: 18px;
    background-color: #eeeeee;
    text-align: center;
  }

  .product:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 1, 0, 0.25);
    cursor: pointer;
  }

  .product:hover::after {
    display: none;
    cursor: pointer;
  }

  .product:hover .product-price {
    display: block;
    cursor: pointer;
  }

  .product:hover .tab {
    background-color: #4d4d4d;
    cursor: pointer;
  }

  .product-price p {
    margin: 16px auto 29px auto;
    width: 240px;
    max-height: 369px;
    overflow: auto;
  }

  .product-price a {
    text-decoration: none;
    color: #000000;
  }

  .product-price a.button {
    display: block;
    margin: 0 auto;
    padding: 16px 0;
    text-align: center;
    width: 200px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 3px;
  }

  .product-price a.button:hover {
    background-color: #e74246;
    cursor: pointer;
  }

  .product-price a.button:active {
    background-color: #d7373b;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .page-nav {
    margin: 43px 0 7px 0;
  }

  .page-nav a {
    margin-right: 11px;
    padding: 16px 20px;
    background-color: #eeeeee;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .page-nav a:hover {
    background-color: #dfdfdf;
    cursor: pointer;
  }

  .page-nav a:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 6px 0 -3px rgba(0, 1, 1, 0.1);
  }

  .page-nav a.current-page {
    padding: 12px 17px 13px 18px;
    border: 3px solid #dbdbdb;
    background-color: #ffffff;
  }

  .page-nav a.next {
    padding: 15px 79px;
  }

  .write-us {
    position: fixed;
    z-index: 15;
    display: none;
    left: 50%;
    top: 50%;
    margin: -295px 0 0 -480px;
    width: 764px;
    padding: 55px 98px 84px 98px;
    overflow: auto;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    font-size: 16px;
    line-height: 18px;
  }

  .write-us-show {
    display: block;
    animation: bounce 1s;
  }

  .close-write-us {
    position: absolute;
    display: block;
    top: 86px;
    right: 102px;
    font-size: 0px;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
    background-color: transparent;
  }

  .close-write-us:hover {
    opacity: 1;
    cursor: pointer;
  }

  .close-write-us:active {
    opacity: 0.1;
  }

  .close-write-us::before, .close-write-us::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 27px;
    height: 5px;
    background-color: #fb565a;
  }

  .close-write-us::before {
    transform: rotate(45deg);
  }

  .close-write-us::after {
    transform: rotate(-45deg);
  }

  .write-us h2 {
    margin-bottom: 41px;
    font-size: 45px;
    line-height: 45px;
    text-transform: none;
    font-weight: 500;
  }

  .write-us label {
    display: block;
    margin-bottom: 9px;
    font-weight: 700;
  }

  .name, .email {
    float: left;
    width: 360px;
    margin: 0 0 33px 2px;
  }

  .name {
    margin-right: 38px;
  }

  .name input, .email input {
    width: 328px;
    padding: 14px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    color: #444444;
    opacity: 0.5;
  }

  .name:hover input, .email:hover input {
    border-color: #b4b9bb;
    cursor: pointer;
  }

  .name input:focus, .email input:focus {
    border-color: #000000;
    color: #444444;
    opacity: 1;
  }

  .write-us input.error {
    border-color: #e74246;
    color: #e74246;
  }

  .text {
    clear: both;
    margin: 0 0 42px 2px;
    max-width: 743px;
  }

  .text textarea {
    width: 730px;
    padding: 14px 14px 14px 14px;
    height: 88px;
    overflow-y: auto;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    color: #444444;
    opacity: 0.5;
  }

  .text:hover textarea {
    border-color: #b4b9bb;
    cursor: pointer;
  }

  .text textarea:focus {
    border-color: #000000;
    color: #444444;
    opacity: 1;
  }

  .write-us textarea.error {
    border-color: #e74246;
    color: #e74246;
  }

  .write-us .send {
    margin-left: 2px;
    padding: 16px 82px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    line-height: 18px;
    border-radius: 3px;
    border: none;
  }

  iframe {
    display: none;
  }

  .show-iframe {
    display: block;
  }

  @keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
    70% {
      transform: translateY(30px);
    }
    90% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
